In [6]:
import pandas as pd

file_path = 'data/raw/SeoulSubwayStationRidershipbyLine.csv'
df = pd.read_csv(file_path,encoding="cp949")  # encoding 필요 없음
df.head()

       사용일자    호선명        역명  승차총승객수  하차총승객수      등록일자
0  20251119  우이신설선  4.19민주묘지    4491    4444  20251122
1  20251119    경원선        가능    7184    6911  20251122
2  20251119    3호선      가락시장   10440   10088  20251122
3  20251119    8호선      가락시장   10017   10945  20251122
4  20251119    7호선   가산디지털단지   51693   51783  20251122