In [8]:
import pandas as pd

file_path = 'data/raw/BusStopInformationDataset.xlsx'
df = pd.read_excel(file_path)  # encoding 필요 없음
df.head()

,기준일,ARS-ID,정류소명,공항,마을,간선,지선,순환,광역,인천,...,동행,전체,ARS-ID.1,자치구,구분,Unnamed: 17,Unnamed: 18,구분.1,자치구.1,정류장수
0,2025-07-02,1001,종로2가사거리,0,0,3,0,0,0,0,...,0,10,01-001,종로구,시내버스 정류장,NaN,NaN,01-,종로구,189.0
1,2025-07-02,1002,창경궁.서울대학교병원,1,0,17,2,0,0,0,...,0,22,01-002,종로구,시내버스 정류장,NaN,NaN,02-,중구,165.0
2,2025-07-02,1003,명륜3가.성대입구,1,0,17,2,0,0,0,...,0,22,01-003,종로구,시내버스 정류장,NaN,NaN,03-,용산구,231.0
3,2025-07-02,1004,종로2가.삼일교,0,0,5,0,1,0,0,...,0,7,01-004,종로구,시내버스 정류장,NaN,NaN,04-,성동구,187.0
4,2025-07-02,1005,혜화동로터리.여운형활동터,0,0,16,2,0,0,0,...,0,18,01-005,종로구,시내버스 정류장,NaN,NaN,05-,광진구,174.0