In [11]:
import pandas as pd

file_path = 'data/raw/population.csv'  # 파일 이름 확인 후 정확하게 입력
df = pd.read_csv(file_path)

# 데이터 확인
df.head()

,동별(1),동별(2),2025 3/4,2025 3/4.1,2025 3/4.2,2025 3/4.3,2025 3/4.4,2025 3/4.5,2025 3/4.6,2025 3/4.7,2025 3/4.8,2025 3/4.9,2025 3/4.10,2025 3/4.11
0,동별(1),동별(2),세대 (세대),계 (명),계 (명),계 (명),한국인 (명),한국인 (명),한국인 (명),등록외국인 (명),등록외국인 (명),등록외국인 (명),세대당인구 (명),65세이상고령자 (명)
1,동별(1),동별(2),소계,소계,남자,여자,소계,남자,여자,소계,남자,여자,소계,소계
2,합계,소계,4505357,9594329,4610784,4983545,9318500,4491997,4826503,275829,118787,157042,2.07,1894245
3,합계,종로구,72402,149165,70897,78268,137545,66032,71513,11620,4865,6755,1.90,30658
4,합계,중구,64259,128942,61743,67199,118458,56869,61589,10484,4874,5610,1.84,27442